<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/works">Works</a>
        <a href="/photos">Photo Gallery</a>
    </nav>

    <h1>5 fun facts about the Queen!</h1>

        <ul>
            <li>1. Queen Elizabeth II was born at 2.40am on 21 April 1926. To parents the Duke and Duchess of York, who later became King George VI and Queen Elizabeth (the Queen Mother).</li>
            <li>2. She was crowned Queen on 2 June 1953. Watched by a TV audience of 20 million people. Her reign ended on 8 September 2022, when she passed away peacefully at Balmoral Castle, Scotland, and her son, King Charles III, was crowned.</li>
            <li>3. She was the longest reigning monarch ever in Britain. Beating even Queen Victoria (her great-great-grandma!).</li>
            <li>4. As Queen, she was served by 15 UK Prime Ministers. Including Winston Churchill, Margaret Thatcher and more recently, Boris Johnson.</li>
            <li>5. Her favourite dogs were corgis. She even invented a new breed of dog when her corgi mated with a dachshund belonging to her sister, Princess Margaret, creating the “dorgi”.</li>            
      </ul>
</body>
</html>