<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/photos">Photo Gallery</a>
    </nav>
    
    <h1>Welcome to Buckingham Palace! I am the Queen.</h1>
    <img id="icon" src="/images/queen_home.jpeg" alt="">
    <h2>You can see my life, works and photos here.</h2>
</body>
</html>