<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </nav>

    <h2>Sydney Opera House, Sydney, Austraa, by Jørn Utzon (1973)</h2>
    <img src="/images/sydeny-opera-house.jpeg" alt="">
    <h2>The Beehive, Wellington, New Zealand, by Basil Spence (1977)</h2>
    <img src="/images/beehive-wellington-new-zealand.jpeg" alt="">
    <h2>Barbican Centre, London, England, by Chambern, Powell and Bon (1982)</h2>
    <img src="/images/barbican-centre.jpeg" alt="">
    <h2>Gateshead Millennium Bridge, Newcastle, England, by WilkinsonEyre(2002)</h2>
    <img src="/images/gateshead-millennium-bridge.jpeg" alt="">
    <h2>Senedd Cymru, Cardiff, Wales, by RSHP (2006)</h2>
    <img src="/images/senedd-cymru.jpeg" alt="">
</body>
</html>