<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/photos">Photo Gallery</a>
    </nav>

    <h1>I have opened many significant buildings. Here's my favourite 5!</h1>

    <ul>
        <li><a href="/photos">Sydney Opera House, Sydney, Australia, by Jørn Utzon (1973)</a></li>
        <li><a href="/photos">The Beehive, Wellington, New Zealand, by Basil Spence (1977)</a></li>
        <li><a href="/photos">Barbican Centre, London, England, by Chamberlin, Powell and Bon (1982)</a></li>
        <li><a href="/photos">Gateshead Millennium Bridge, Newcastle, England, by WilkinsonEyre(2002)</a></li>
        <li><a href="/photos">Senedd Cymru, Cardiff, Wales, by RSHP (2006)</a></li>
    </ul>
</body>
</html>